
*{
  box-sizing: border-box;
  margin: auto;
  padding: auto;
  
}

body{
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.business-card {
 width: 30vw;
 height: 95vh;
 padding: 10px;
 background-color: linen;
 text-align: center;
 box-shadow: 10px 10px 10px 10px;
 border-radius: 10px;
}
.profile-image{
  max-width: 15em;
  object-fit: cover;
}
a {
text-decoration: none;
color: none;
}
a:hover{
  color: green;
}
a:link:active, a:visited {
  color: brown;
}